* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(114.2deg, rgb(121, 194, 243) 22.6%, rgb(255, 180, 239) 67.7%);
}

#open-modal-btn {
  padding: 30px 50px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
#open-modal-btn:hover {
  opacity: 0.8;
}

.modal {
  text-align: center;
  width: 800px;
  margin: auto;
  border-radius: 10px;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -1000px);
          transform: translate(-50%, -1000px);
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: rgb(177, 168, 168) 0px 18px 34px -1px;
          box-shadow: rgb(177, 168, 168) 0px 18px 34px -1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal-desc {
  font-size: 30px;
}
@media (max-width: 815px) {
  .modal {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .modal {
    width: 450px;
  }
}
@media (max-width: 470px) {
  .modal {
    width: 300px;
  }
}
.modal.show {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.modal-header {
  padding: 50px 0;
  border-radius: 10px 10px 0 0;
  color: white;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 247, 153) 0%, rgb(130, 205, 221) 90%);
}
.modal-header .modal-logo {
  font-size: 10rem;
}
.modal-header .modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.modal-body {
  position: relative;
  padding: 30px 0;
  border-radius: 0 0 10px 10px;
  background-color: rgb(105, 147, 179);
  color: white;
}

.close-modal-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  border: 2px solid #ee3a1a;
  background-color: #ee3a1a;
  -webkit-box-shadow: rgb(177, 168, 168) 0px 18px 34px -1px;
          box-shadow: rgb(177, 168, 168) 0px 18px 34px -1px;
}
.close-modal-btn:hover {
  opacity: 0.8;
}