* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgb(255, 206, 134) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
}

li {
  list-style: none;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
  color: white;
  background-color: #242628;
  overflow: hidden;
}

.card_image {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin: 0 auto;
  width: 120px;
  height: 120px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(236, 105, 127);
}
.card_image:hover {
  width: 100%;
  height: 100%;
  -webkit-transform: unset;
          transform: unset;
  border: unset;
  border-radius: unset;
}
.card_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.name {
  padding-top: 30px;
}

.job {
  color: palevioletred;
  font-size: 18px;
  font-weight: 500;
}

.social {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-item i {
  color: white;
}

.contact {
  margin: 40px 0;
  background-color: transparent;
  padding: 15px 25px;
  border: 1px solid rgb(239, 111, 132);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
}
.contact:hover {
  background-color: rgb(239, 111, 132);
}